[Unit]
Description=Wirething POC for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
PartOf=wirething-poc.target
Documentation=https://www.wirething.org

[Service]
Type=simple
Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/wirething-poc.sh
WorkingDirectory=/etc/wirething/%i
EnvironmentFile=/etc/wirething/%i/env
SyslogIdentifier=wirething-poc

[Install]
WantedBy=multi-user.target
